body{
    font-family: 'Roboto';
}
.modal-header {
    background: #32bae4;
    padding: 10px;
    color: white;
}
.mb40{
    margin-bottom: 40px;
}

textarea { 
   /* will prevent resizing horizontally */
   resize:vertical;
   min-height: 70px;
}
.label{
    border-radius: 15px;
    font-weight: normal;
}
.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f078";    
    float: right;
}
.accordion-opened .accordion-toggle:after {    
    content: "\f054";    
}
.accordion-heading{
    padding: 10px 9px;
    border: 1px solid #e8e8e8;
    margin-bottom: 10px;
}
i{
    transition: all .7s ease-in-out;
}
.users .table th{
    background: #3c8dbc;
    color: white;
    font-weight: normal;
}
.icon-fill:hover i{
    transform: scale(1.2) rotate(360deg);
}
.box{
    padding: 1em;
    box-shadow: -2px 3px 20px 4px rgb(113, 140, 150);
}
.login-page{
    padding-top: 5%;
    background: url('../img/bg-login.jpg') no-repeat center center ;
    background-size: cover;

}
.login-box-body{
    box-shadow: -1px -2px 28px 2px #e2dddd;
    padding: 5em 3em;
    border-radius: 7px;
}
.login-page ul{
    list-style-type: none;
}
.login-logo img{
    max-width: 50%;
    margin: auto;
}
.content{
    padding: 20px;
}
.content-wrapper{
    background: #cdd8e4;
}
.portlet-title > .nav-tabs {
    background: none;
    margin: 0;
    float: right;
    display: inline-block;
    border: 0;
}

.portlet-title > .nav-tabs > li {
    background: none;
    margin: 0;
    border: 0;
}

.portlet-title > .nav-tabs > li > a {
    background: none;
    border: 0;
    padding: 2px 10px 13px;
    color: #444;
}

.portlet-title > .nav-tabs > li.active,
.portlet-title > .nav-tabs > li.active:hover {
    border-bottom: 4px solid #f3565d;
    position: relative;
  }

  .portlet-title > .nav-tabs > li:hover {
    border-bottom: 4px solid #f29b9f;
  }

.portlet-title > .nav-tabs > li.active > a,
.portlet-title > .nav-tabs > li:hover > a {
    color: #333;
    background: #fff;
    border: 0;
}

.profile .nav-tabs-custom, .index .nav-tabs-custom{
    overflow: auto;
    padding: 1em 0 0 0;
    margin-bottom: 0;
}
.profile .nav-tabs-custom .caption, .index .nav-tabs-custom .caption{
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: #67b9ea;
    padding-left: 10px 
    text-transform: uppercase;
}
.card{
    padding: 12px 20px 25px 20px;
    background-color: #fff;
}
.list-group-item:first-child{
    border-top: 0;
}
.profile .form-group:first-child{
    border-top: none;
}
.profile .form-group{
    margin-bottom: 0;
    border: 1px solid #d0d0d0;
    border-bottom: 1px;
    padding: 10px;
}
.profile .tab-content{
    padding: 0;
}
.profile .nav-tabs-custom>.nav-tabs>li:first-of-type.active>a{
    border-left-color: #bfbdbdbd;
}
.profile .nav>li>a{
    padding: 1em 4em;
}
.content-header{
    background: #f4f4f4 !important;
    padding: 15px;
}
.content-header>.breadcrumb{
    float: none;
    position: static;
    padding: 0 5px;
    font-size: 17px;
}
.user-menu a span , .user-panel>.info>p{
    text-transform: capitalize;
}
.home-logo{
    background: white;
    padding: 5px 0;
}
.home-logo img{
    margin: auto;
}
.icheckbox_square-blue{
    margin: 0 5px 0 0;
}
.checkbox label{
    padding-left: 0;
}
.icon-fill{
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    text-align: center;
    color: white;
    border-radius: 50%;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer{
    background: #efeded;
}
.news li{
    margin-bottom: 10px;
}
.news li i{
    background: #d2a54f;
    padding: 8px;
    color: white;
}
.interview-pro a{
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 16px;
}
.nav-tabs-custom>.tab-content{
    border: 1px solid #d2cfcf;
}
.nav-tabs-custom>.nav-tabs>li.active>a{
    border-right-color: #c7bdbd;
    border-left-color: #c7bdbd !important;
}
.evaluations .nav-tabs>li>a{
    padding: 1em 1.5em;
}
.professionels .nav-tabs>li>a{
    padding: 1em 3em;
}
.table-bordered{
    border: 1px solid #ddd;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>td{
    border: 1px solid #d0d0d0;
}
.current-interview {
    background: #f3f3f3;
    margin-bottom: 1em;
    padding: 10px;
    border-left: 2px solid #3c8dbc;
}
.current-interview .name{
    font-size: 17px;
    color: #158bc5;
    text-transform: capitalize;
}
.current-interview img {
    float: left;
    margin-right: 1em;
}
.coll-entretien {
    padding-top: 1em;
}
.empty{
    padding: 4px;
    display: inline-block;
    border-radius: 50%;
}
.treeview-menu>li>a {
    padding: 12px 5px 5px 15px;
}
.sidebar-menu>li>a {
    font-size: 17px;
}
.box-header {
    margin-bottom: 1em;
    border-bottom: 1px solid #dedede;
}
.box-header h3{
    font-size: 24px !important;
    color: #35b0fb;
}
.mentor{
    padding: 1em 0;
}
.box-footer button{
    margin-left: 1em;
    margin-bottom: 1em;
}

/*checkbox on off*/
.toggle-check-input {
    width: 1px;
    height: 1px;
    position: absolute;
}

.toggle-check-text {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    background: #CCC;
    padding: 0.25em 0.5em 0.25em 2em;
    border-radius: 1em;
    min-width: 2em;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.15s;
    font-weight: normal;
}

.toggle-check-text:after {
    content: ' ';
    display: block;
    background: #FFF;
    width: 1.1em;
    height: 1.1em;
    border-radius: 1em;
    position: absolute;
    left: 0.3em;
    top: 0.25em;
    transition: left 0.15s, margin-left 0.15s;
}

.toggle-check-text:before {
    content: 'Non';
}

.toggle-check-input:checked ~ .toggle-check-text {
    background: #8ad869;
    padding-left: 0.5em;
    padding-right: 2em;
}

.toggle-check-input:checked ~ .toggle-check-text:before {
    content: 'Oui';
}

.toggle-check-input:checked ~ .toggle-check-text:after {
    left: 100%;
    margin-left: -1.4em;
}
.showFile{
    margin-top: 10px;
}
.showFile a{
    color: #20a2ca;
}
p.alert-default{
    background: whitesmoke;
    border-left: 3px solid #3c8dbc;
    color: gray;
}
.box h3.mb40{
    padding: 5px 0;
    color: #365e92cf;
    border-bottom: 1px solid #e0e0e0;
    text-transform: capitalize;
}
ul.user-data li{
    margin-bottom: 4px;
    color: #0c523f;
    font-style: italic;
    font-weight: bold;
}
ul.user-data li i{
    color: #1d8ec5;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.btn span.glyphicon {               
    opacity: 0;             
}
.btn.active span.glyphicon {                
    opacity: 1;             
}
.usersCheckbox .btn{
    padding: 0px 4px;
    border-radius: 0;
    /*background: none;*/
}
.userName{
    font-size: 18px;
    text-transform: uppercase;
}
.showQuestion .box{
    padding: 0;
}
.circle-icon {
    background: #00a65a;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    margin: 0;
    color: white;
}